/**
 * global/buttons.scss
 * @package Thompson
 * @author Period Three
 * 
 * @version 1.0
 * Created 6/19/2018
 * Updated 
 *
 * Notes |
**/

.button-ghost, .button-solid, .elementor-button, span.excerpt.a, input.wpcf7-form-control.wpcf7-submit, .btn-slider {
	// GLOBAL
	font-family: $text-sans;
	font-size: inherit;
	text-align: center;
	text-transform: none;
	margin: 2.00rem 0.00rem !important;
	padding: 0.50rem 1.50rem !important;
	border-radius: 0px !important;

	&:hover {
		cursor: pointer;
	}

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //ALL

.button-ghost, .btn-slider {
	// GLOBAL
	background-color: transparent;
	border: 1px solid $thompson-orange-10;
	color: $thompson-orange-10;

	&:hover {
		background-color: $thompson-orange-7;
		color: $thompson-orange-0;
	}

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //.BUTTON-GHOST

.button-solid, .elementor-button, input.wpcf7-form-control.wpcf7-submit {
	// GLOBAL
	background-color: $thompson-orange-10 !important;
	border: 1px solid $thompson-orange-0 !important;
	color: $thompson-orange-0 !important;

	&:hover {
		background-color: $thompson-orange-7;
		color: $thompson-orange-0;
	}

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //.BUTTON-SOLID