/**
 * global/typography.scss
 * @package Thompson
 * @author Period Three
 * 
 * @version 1.0
 * Created 6/19/2018
 * Updated 
 *
 * Notes |
**/

// HEADING TEXT
h1, h2, h3, h4, h5, h6, h1.elementor-heading-title, h2.elementor-heading-title, h3.elementor-heading-title, h4.elementor-heading-title, h5.elementor-heading-title, h6.elementor-heading-title, h1.slider-title, h2.slider-title, h3.slider-title, h4.slider-title, h5.slider-title, h6.slider-title {
	// GLOBAL
	font-family: $text-serif;
	font-weight: 400;
	line-height: 1.25 !important;
	color: $thompson-blue-14;
	margin: 2.00rem 0.00rem;
	padding: 0.00rem;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //ALL

h1, h1.elementor-heading-title, h1.slider-title {
	// GLOBAL
	font-size: 2.25em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 3.00em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H1

h2, h2.elementor-heading-title, h2.slider-title {
	// GLOBAL
	font-size: 2.00em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 2.50em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H2

h3, h3.elementor-heading-title, h3.slider-title {
	// GLOBAL
	font-size: 1.75em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 2.00em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H3

h4, h4.elementor-heading-title, h4.slider-title {
	// GLOBAL
	font-size: 1.50em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 1.50em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H4

h5, h5.elementor-heading-title, h5.slider-title {
	// GLOBAL
	font-size: 1.25em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 1.25em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H5

h6, h6.elementor-heading-title, h6.slider-title {
	// GLOBAL
	font-size: 1.00em;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {
		font-size: 1.00em;
	} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //H6

// BODY TEXT
p, li {
	// GLOBAL
	font-family: $text-sans;
	font-weight: 400;
	font-size: 1.00em;
	line-height: 1.50;
	color: $grayscale-12;
	margin: 0.00rem;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //P, LI

p {
	// GLOBAL
	margin: 1.00rem 0.00rem;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //P

li {
	// GLOBAL
	margin: 0.50rem 0.00rem;

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //LI

a {
	// GLOBAL
	text-decoration: none;
	color: $thompson-orange-10;

	&:hover {
		text-decoration: none;
		color: $thompson-orange-7;
		cursor: pointer;
	}

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //A

.link-address, .link-phone {
	// GLOBAL
	color: inherit;
	cursor: default;

	&:hover {
		color: inherit;
		cursor: default;
	}

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL
} //.LINK-ADDRESS, .LINK-PHONE