/**
 * variables/colors.scss
 * @package Thompson
 * @author Period Three
 * 
 * @version 1.0
 * Created 6/19/2018
 * Updated 
 *
 * Notes |
**/

// THOMPSON-BRAND
$thompson-blue: #0082c4;
$thompson-gray: #8c8e91;
$thompson-lightblue: #e9f1fa;
$thompson-green: #a0b739;
$thompson-orange: #f36c21;

// THOMPSON-BLUE
$thompson-blue-0: #ffffff;
$thompson-blue-1: #e5f3f9;
$thompson-blue-2: #cce6f3;
$thompson-blue-3: #b2d9ed;
$thompson-blue-4: #99cde7;
$thompson-blue-5: #80c1e1;
$thompson-blue-6: #66b4dc;
$thompson-blue-7: #4da7d6;
$thompson-blue-8: #339bd0;
$thompson-blue-9: #198fca;
$thompson-blue-10: #0082c4;
$thompson-blue-11: #0075b0;
$thompson-blue-12: #00689d;
$thompson-blue-13: #005b89;
$thompson-blue-14: #004e76;
$thompson-blue-15: #004162;
$thompson-blue-16: #00344e;
$thompson-blue-17: #00273b;
$thompson-blue-18: #001a27;
$thompson-blue-19: #000d14;
$thompson-blue-20: #000000;

// THOMPSON-GRAY
$thompson-gray-0: #ffffff;
$thompson-gray-1: #f3f4f4;
$thompson-gray-2: #e8e8e9;
$thompson-gray-3: #ddddde;
$thompson-gray-4: #d1d2d3;
$thompson-gray-5: #c5c7c8;
$thompson-gray-6: #babbbd;
$thompson-gray-7: #afb0b2;
$thompson-gray-8: #a3a5a7;
$thompson-gray-9: #97999c;
$thompson-gray-10: #8c8e91;
$thompson-gray-11: #7e8082;
$thompson-gray-12: #707274;
$thompson-gray-13: #626366;
$thompson-gray-14: #545557;
$thompson-gray-15: #464749;
$thompson-gray-16: #38393a;
$thompson-gray-17: #2a2b2b;
$thompson-gray-18: #1c1c1d;
$thompson-gray-19: #0e0e0e;
$thompson-gray-20: #000000;

// THOMPSON-LIGHTBLUE
$thompson-lightblue-0: #ffffff;
$thompson-lightblue-1: #fdfeff;
$thompson-lightblue-2: #fbfcfe;
$thompson-lightblue-3: #f8fbfd;
$thompson-lightblue-4: #f6f9fd;
$thompson-lightblue-5: #f4f8fd;
$thompson-lightblue-6: #f2f7fc;
$thompson-lightblue-7: #f0f5fb;
$thompson-lightblue-8: #edf4fb;
$thompson-lightblue-9: #ebf2fb;
$thompson-lightblue-10: #e9f1fa;
$thompson-lightblue-11: #d2d9e1;
$thompson-lightblue-12: #bac1c8;
$thompson-lightblue-13: #a3a9af;
$thompson-lightblue-14: #8c9196;
$thompson-lightblue-15: #75797d;
$thompson-lightblue-16: #5d6064;
$thompson-lightblue-17: #46484b;
$thompson-lightblue-18: #2f3032;
$thompson-lightblue-19: #171819;
$thompson-lightblue-20: #000000;

// THOMPSON-GREEN
$thompson-green-0: #ffffff;
$thompson-green-1: #f5f8eb;
$thompson-green-2: #ecf1d7;
$thompson-green-3: #e3e9c4;
$thompson-green-4: #d9e2b0;
$thompson-green-5: #cfdb9c;
$thompson-green-6: #c6d488;
$thompson-green-7: #bdcd74;
$thompson-green-8: #b3c561;
$thompson-green-9: #a9be4d;
$thompson-green-10: #a0b739;
$thompson-green-11: #90a533;
$thompson-green-12: #80922e;
$thompson-green-13: #708028;
$thompson-green-14: #606e22;
$thompson-green-15: #505c19;
$thompson-green-16: #404917;
$thompson-green-17: #303711;
$thompson-green-18: #20250b;
$thompson-green-19: #101206;
$thompson-green-20: #000000;

// THOMPSON-ORANGE
$thompson-orange-0: #ffffff;
$thompson-orange-1: #fef0e9;
$thompson-orange-2: #fde2d3;
$thompson-orange-3: #fbd3bc;
$thompson-orange-4: #fac4a6;
$thompson-orange-5: #f9b590;
$thompson-orange-6: #f8a77a;
$thompson-orange-7: #f79864;
$thompson-orange-8: #f5894d;
$thompson-orange-9: #f47b37;
$thompson-orange-10: #f36c21;
$thompson-orange-11: #bd611e;
$thompson-orange-12: #c2561a;
$thompson-orange-13: #aa4c17;
$thompson-orange-14: #924114;
$thompson-orange-15: #7a3611;
$thompson-orange-16: #612b0d;
$thompson-orange-17: #49200a;
$thompson-orange-18: #311607;
$thompson-orange-19: #180b03;
$thompson-orange-20: #000000;

// GRAYSCALE COLLECTION
$grayscale-0: #ffffff;
$grayscale-1: #f2f2f2;
$grayscale-2: #e5e5e5;
$grayscale-3: #d9d9d9;
$grayscale-4: #cccccc;
$grayscale-5: #bfbfbf;
$grayscale-6: #b2b2b2;
$grayscale-7: #a6a6a6;
$grayscale-8: #999999;
$grayscale-9: #8c8c8c;
$grayscale-10: #808080;
$grayscale-11: #737373;
$grayscale-12: #666666;
$grayscale-13: #595959;
$grayscale-14: #4c4c4c;
$grayscale-15: #404040;
$grayscale-16: #333333;
$grayscale-17: #262626;
$grayscale-18: #191919;
$grayscale-19: #0d0d0d;
$grayscale-20: #000000;

// BLACK COLLECTION
$black-rgbblack: #000000;
$black-richblack: #231f20;
$black-neutralrichblack: #000104;
$black-pantoneblack: #2e2a25;
$black-registrationblack: #000000;
$black-designerblack: #000000;
$black-photoshopblack: #000000;
$black-coolblack: #001423;
$black-warmblack: #220000;
$black-goldenblack: #1e1b00;