/**
 * sections/leadership.scss
 * @package Thompson
 * @author Period Three
 * 
 * @version 1.0
 * Created 6/19/2018
 * Updated 
 *
 * Notes |
**/

#section-leadership-thompsonconstructiongroup, #section-leadership-thompsonindustrialservices, #section-leadership-thompsonturner {
	// GLOBAL
	.section-title {
		margin: 1.00rem 0.00rem 1.00rem 1.00rem;
	} //.SECTION-TITLE

	ul {
		list-style: none;
		margin-bottom: 2.00rem;
		padding: 0.00rem;

		li {
			margin: 0.00rem;
		}
	} //UL

	// MOBILE
	@media screen and (max-width: 575px) {} //COL-XS
	@media screen and (min-width: 576px) {} //COL-SM
	@media screen and (min-width: 768px) {} //COL-MD
	@media screen and (max-width: 991px) {} //MOBILE

	// DESKTOP
	@media screen and (min-width: 992px) {} //COL-LG
	@media screen and (min-width: 1200px) {} //COL-XL

	.leadership-card {
		// GLOBAL
		padding: 1.00rem;

		h6, p {
			margin: 0.00rem;
			margin-bottom: 0.50rem;
		}

		// MOBILE
		@media screen and (max-width: 575px) {} //COL-XS
		@media screen and (min-width: 576px) {} //COL-SM
		@media screen and (min-width: 768px) {} //COL-MD
		@media screen and (max-width: 991px) {} //MOBILE

		// DESKTOP
		@media screen and (min-width: 992px) {} //COL-LG
		@media screen and (min-width: 1200px) {} //COL-XL

		.elementor-column-wrap.elementor-element-populated {
			// GLOBAL
			background-color: $thompson-lightblue-10;
			border: 1px solid $thompson-lightblue-11;
			padding: 2.00rem !important;

			// MOBILE
			@media screen and (max-width: 575px) {} //COL-XS
			@media screen and (min-width: 576px) {} //COL-SM
			@media screen and (min-width: 768px) {} //COL-MD
			@media screen and (max-width: 991px) {} //MOBILE

			// DESKTOP
			@media screen and (min-width: 992px) {} //COL-LG
			@media screen and (min-width: 1200px) {} //COL-XL
		} //.ELEMENTOR-COLUMN-WRAP
	} //.LEADERSHIP-CARD
} //ALL